COMPANY_DB=SUA_EMPRESA
USERNAME=SEU_USUARIO
PASSWORD=SUA_SENHA
SAP_URL=https://seu-servidor-sap:50000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sap_cobrancas
DB_USER=postgres
DB_PASS=postgres

# Integração com Outlook via automação de webmail (Playwright)
OUTLOOK_EMAIL=email@sua-empresa.com.br
OUTLOOK_PASSWORD=sua-senha-do-email
