COMPANY_DB=SUA_EMPRESA
USERNAME=SEU_USUARIO
PASSWORD=SUA_SENHA
SAP_URL=https://seu-servidor-sap:50000

# Integração com Outlook / Microsoft Graph API
AZURE_TENANT_ID=id-do-tenant-sua-empresa
AZURE_CLIENT_ID=id-do-aplicativo-zeus
AZURE_CLIENT_SECRET=valor-secreto-do-aplicativo
AZURE_USER_MAILBOX=email-compartilhado@sua-empresa.com.br
